<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dante's Gallery</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        .image-thumb {
            height: 0px;
        }
    </style>
</head>

<body class="m-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">


                <div class="card">
                    <div class="card-header">
                        Dante's Categories
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">All</li>
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>


                        <a class="btn btn-dark btn-block btn-sm m-1" href="{% url 'add' %}">Add photo</a>
                    </ul>
                </div>


            </div>
            <div class="col-md-9">
                <div class="row">

                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="image-thumb">
                            <img src="https://images.unsplash.com/photo-1626106576760-d64336d3fa5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top" alt="...">

                            <div class="card-body">
                                <small>Category: Wedding</small>
                            </div>
                            <a href="{% url 'snap' 5 %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="image-thumb">
                            <img src="https://images.unsplash.com/photo-1626106576760-d64336d3fa5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top" alt="...">

                            <div class="card-body">
                                <small>Category: Wedding</small>
                            </div>
                            <a href="{% url 'snap' 5 %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="image-thumb">
                            <img src="https://images.unsplash.com/photo-1626106576760-d64336d3fa5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top" alt="...">

                            <div class="card-body">
                                <small>Category: Wedding</small>
                            </div>
                            <a href="{% url 'snap' 5 %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="image-thumb">
                            <img src="https://images.unsplash.com/photo-1626106576760-d64336d3fa5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top" alt="...">

                            <div class="card-body">
                                <small>Category: Wedding</small>
                            </div>
                            <a href="{% url 'snap' 5 %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="image-thumb">
                            <img src="https://images.unsplash.com/photo-1626106576760-d64336d3fa5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="card-img-top" alt="...">

                            <div class="card-body">
                                <small>Category: Wedding</small>
                            </div>
                            <a href="{% url 'snap' 5 %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>