<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dante's Gallery</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        .image-thumb {
            height: 20px;
        }
    </style>
</head>

<body class="m-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">


                <div class="card">
                    <div class="card-header">
                        Dante's Categories
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">All</li>
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                </div>


            </div>
            <div class="col-md-9">
                <div class="row">

                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="image-thumb">
                            <img src="https://lh3.googleusercontent.com/Y_Irs7uxsgCtoxILBtGta0C4KiIJp97tgZ7iWyVRB1epcYpHkbCyLgO7yonW_bNCnmSRwh3M-JzIrktf6BRVYFg5bhFw7uXpa4zRQgiE19-zwl4B1pCQh2DCPklqb0a46MjRMQPLSvZyZoQ-v_rDzqhCAP10EmP8jbpo_HJ7Yv3WJwIpnoU-w_bnSsXu3HwmCkds1AJr9RJYug-K9Z0P3C1Cucuz2mB92D6uiEANCjS_6KJn0Tq3WLmKIkXSiPRAAOW-skIrRJ8X8eskRo3HeFV6l9K3-XCPns8NYrzkZqnj8LVXyqVKc2UpALyWDkx_OyfChS5v4G430zkLpOgzqas_ovyFADJTNi5Vzsp7i-OsdgNXE3-L2QSzQxYsFw6bZewe9TKupbuTZCZsfmePzEVwnlXhk1c4H_kmHQxJQnxXupHipMQxSu83VHGQax0WPuSmeiXtnrJQBoEcBHzHZmtAYOSWTjRDdml-iK3DX-pZ-yyJXIq0VS9NfXeydYAtHCuV2qKcOEsYX_6FS5C8Sku3rAONX7GtOoog6yfuLbjk4A0diF9GK5vERNMY0r_hgNxMovG_RBil-F-Ns96XvL8iU_89EpG890eMVrW4Hckxw8svCkTk-gpeumKxQcHSVRuytzlp5mG_aF6-p_I2vuTr629bZPg1iX7mCRF7Kt-ty3Bjhtqt3wzm5-r7056-VqwfoWteHNR-rap1yvvdUZyg=w884-h1280-no?authuser=1"
                                class="card-img-top" alt="...">

                            <div class="card-body">
                                <small>Category: Wedding</small>
                            </div>
                            <a class="btn btn-outline-dark btn-sm m-1">View</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>